<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamprogram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NCC 왕초보 조립컴"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamProgram">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PurposeActivity"/>
        <activity android:name=".AiActivity"/>
        <activity android:name=".Self_Activity"/>
        <activity android:name=".ExplainActivity"/>
        <activity android:name=".CpuActivity"/>
        <activity android:name=".MainbordActivity"/>
        <activity android:name=".MemoryActivity"/>
        <activity android:name=".GraphicActivity"/>
        <activity android:name=".SSDHDDActivity"/>
        <activity android:name=".PowerActivity"/>
        <activity android:name=".CsActivity"/>
        <activity android:name=".CoolActivity"/>
    </application>

</manifest>